//
//  Secrets.xcconfig
//  figology-v2
//
//  Created by olivia chen on 2025-05-22.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

NUTRITIONIX_APP_KEY = 24485ee0b77dd35e4d545096dab4a0f5
NUTRITIONIX_APP_ID = b6dd821c
GOOGLE_API_KEY = AIzaSyBnKfLUtKgPP3tZr_vo3C-XxM3TUTHYfI4
